.VideoFeed {
    /* TODO: this should probably be passed in from somewhere 
    further up the hierarchy once we have more than one videofeed */
    --video-width: 60vw;

    width: var(--video-width);
    height: calc(var(--video-width) * 0.562); /* 16:9 video */

    position: relative;
}

.VideoFeed video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h2.placeholder {
    padding: 40px;
    background: rgba(255, 255, 255, 0.5);
    color: black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
